footer {
    position: fixed;
    margin: auto 0 auto 0;
    bottom: 0;
    text-align: center;
    line-height: 6em;
    color: antiquewhite;
    background-color: #0F2907;
    height: 6em;
    width: 100%;
}