.nav-item:hover {
    color: var(--bncc-blue);
}

.navbar-dark .navbar-nav .nav-link {
    color: black;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--bncc-blue);
}

.navbar-brand img {
    max-height: 40px; /* Adjust the value as needed */
}
