@media (max-width: 768px) {
    body {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    #main-content {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .grafico-h1 h2{
        margin-top: 3em;
        text-align: center;
    }
    .grafico-h1 p {
        text-align: center;
    }
    .grafico {
        padding-left: 0 !important;
        padding-right: 0 !important;
        width: 100%;
    }
    .grafico>div>img {
        width: 100%;
        margin-bottom: 3vh;
    }
    .lista-habilidades-retornadas {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        z-index: 0;
    }
    .aba-hab {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90vw;
        max-height: 100%;
    }
    .habs-head {
        position: relative;
        width: 100%;
        padding: 0.5em;
        border: 1px rgba(0, 0, 0, .2) solid;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        box-shadow:  0 1px 5px #9c9c9c;
    }
    .aulas-dadas {
        color: #9c9c9c;
    }
    .expand-bt {
        position: absolute;
        width: 15px;
        right: 3vw;
        filter: drop-shadow(0 2px 1px rgba(255, 255, 255, 0.3));
    }
    .descricao-habs {
        text-align: center;
        font-size: 10pt;
    }
    .descricao-habs {
        background: linear-gradient(180deg, rgba(233, 233, 233, .8), rgba(200, 200, 200, .8));
        height: 0;
        text-align: center;
        font-size: 10pt;
        visibility: hidden;
        opacity: 0.4;
    }
    .descricao-open {
        display: block;
        height: auto;
        visibility: visible;
        opacity: 1;
    }
    .descricao-open.div-dark {
        color: var(--elevate-dark) !important;
        background-color: var(--light-dark);
    }
    .csv-hide {
        display: none;
    }
    .save-data {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 2vh;
        width: 100%;
        height: 8em;
    }
    #main-content {
        margin-top: 0.5em !important;
    }
    .btn-save-csv, .btn-save-grafico {
        height: 2.2em;
    }
    .row > * {
        padding-left: 0;
        padding-right: 0;
    }
    .filters {
        background: white;
        position: fixed;
        width: 100%;
        height: 3em;
        box-shadow: 1px 1px 7px rgba(255, 255, 255, 0.5);
        z-index: 3;
    }
    .forms-show {
        position: absolute;
        top: calc(-4em - 4em - 12px);
        width: 100vw;
        height: 0;
    }
    .professores-form {
        background: white;
        position: relative;
        top: -8em;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 12px;
        z-index: 5;
    }
    .professores-form.div-dark {
        background: var(--elevate-dark);
    }
    .professor {
        width: 100%;
        padding: 5px 0 5px 30vw;
    }
    .professores-form button {
        background: white;
        color: black;
        width: 90%;
        padding: 2px;
        outline: none;
        border: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        margin-bottom: 5px;
    }
    .professores-form.div-dark button {
        width: 90%;
        padding: 2px;
        outline: none;
        border: none;
        background-color: var(--elevate-dark);
        color: var(--light-dark);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        margin-bottom: 5px;
    }
    .professores {
        background: white;
        width: 100%;
        height: 0;
        overflow: hidden;
        z-index: 5;
    }
    .professores.div-dark {
        background: var(--elevate-dark);
    }
    .classes-form {
        background: white;
        position: relative;
        top: -8em;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 12px;
        z-index: 5;
    }
    .classes-form.div-dark {
        background: var(--elevate-dark);
    }
    .turma {
        width: 100%;
        padding: 5px 0 5px 30vw;
    }
    .classes-form button {
        background: white;
        color: black;
        width: 90%;
        padding: 2px;
        outline: none;
        border: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        margin-bottom: 5px;
    }
    .classes-form.div-dark button {
        width: 90%;
        padding: 2px;
        outline: none;
        border: none;
        background-color: var(--elevate-dark);
        color: var(--light-dark);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        margin-bottom: 5px;
    }
    .classes {
        background: white;
        width: 100%;
        height: 0;
        overflow: hidden;
        z-index: 5;
    }
    .classes.div-dark {
        background: var(--elevate-dark);
    }
    .div-apply-button {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .tag-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0 !important;
    }
    .btn-filter {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn-filter span {
        width: 100%;
        text-align: center;
    }
    .btn-expand-filters {
        background: none;
        outline: none;
        border: none;
        width: 100%;
    }
    .btn-expand-filters-open {
        transform: scaleY(-1);
    }
    .btn-filter img {
        filter: drop-shadow(0 2px 1px rgba(255, 255, 255, 0.3));
    }
}

@media (min-width: 768px) {
    .grafico-h1, .grafico {
        display: flex;
        
    }
    .grafico-h1 {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2vh;
    }
    .grafico-h1 h2{
        margin-top: 3em;
        text-align: center;
    }
    .grafico-h1 p {
        text-align: center;
    }
    .grafico {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
    .grafico>div {
        height: 520px;
    }
    #imagem-grafico {
        width: 720px;
        height: 480px;
    }
    .lista-habilidades-retornadas {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        z-index: 0;
    }
    .aba-hab {
        width: 30vw;
        max-height: 100%;
    }
    .habs-head {
        position: relative;
        width: 30vw;
        padding: 0.5em;
        border: 1px rgba(0, 0, 0, .2) solid;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        box-shadow:  0 1px 5px #9c9c9c;
    }
    .aulas-dadas {
        color: #9c9c9c;
    }
    .expand-bt {
        position: absolute;
        width: 20px;
        right: 1em;
        filter: drop-shadow(0 2px 1px rgba(255, 255, 255, 0.3));
    }
    .descricao-habs {
        background: linear-gradient(180deg, rgba(233, 233, 233, .8), rgba(200, 200, 200, .8));
        height: 0;
        text-align: center;
        font-size: 10pt;
        visibility: hidden;
        opacity: 0.4;
    }
    .descricao-open {
        display: block;
        height: auto;
        visibility: visible;
        opacity: 1;
    }
    .descricao-open.div-dark {
        color: var(--elevate-dark) !important;
    }
    .csv-hide {
        display: none;
    }
    .save-data {
        position: relative;
        margin: 2vh 0 0 1.8vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 50%;
    }
    .btn-save-csv, .btn-save-grafico {
        height: 2.2em;
    }
    .filters {
        position: fixed;
        top: 4.5em;
        left: 0;
        background: white;
        width: 15em;
        height: 3em;
        border: 1px rgba(255, 255, 255, 0.5) solid;
        border-top: none;
        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .filters.div-dark {
        background: var(--elevate-dark);
    }
    .forms-show {
        position: absolute;
        top: calc(-4.5em - 4em);
        border-top: none;
        width: 15em;
        height: 0;
    }
    .professores-form {
        position: relative;
        top: 0;
        border: 1px rgba(255, 255, 255, 0.5) solid;
        border-top: none;
        border-bottom: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 12px;
        z-index: 5;
    }
    .professor {
        width: 100%;
        padding: 5px 0 5px 1vw;
    }
    .professores-form button {
        background: white;
        width: 80%;
        padding: 2px;
        outline: none;
        border: none;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
        margin-bottom: 5px;
    }
    .professores-form.div-dark button {
        width: 80%;
        padding: 2px;
        outline: none;
        border: none;
        background-color: var(--elevate-dark);
        color: var(--light-dark);
        box-shadow: 0 0px 10px rgba(255, 255, 255, 0.5);
        margin-bottom: 5px;
    }
    .professores {
        background: white;
        width: 100%;
        height: 0;
        overflow: hidden;
        z-index: 5;
    }
    .professores.div-dark {
        background: var(--elevate-dark);
    }
    .classes-form {
        background: white;
        position: relative;
        top: -8em;
        border: 1px rgba(255, 255, 255, 0.5) solid;
        border-top: none;
        border-bottom: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 12px;
        z-index: 5;
    }
    .classes-form.div-dark {
        background: var(--elevate-dark);
    }
    .turma {
        width: 100%;
        padding: 5px 0 5px 1vw;
    }
    .classes-form button {
        background: white;
        color: black;
        width: 90%;
        padding: 2px;
        outline: none;
        border: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        margin-bottom: 5px;
    }
    .classes-form.div-dark button {
        width: 90%;
        padding: 2px;
        outline: none;
        border: none;
        background-color: var(--elevate-dark);
        color: var(--light-dark);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        margin-bottom: 5px;
    }
    .classes {
        background: white;
        width: 100%;
        height: 0;
        overflow: hidden;
        z-index: 5;
    }
    .classes.div-dark {
        background: var(--elevate-dark);
    }
    .div-apply-button {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .tag-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0 !important;
    }
    .btn-filter {
        position: relative;
        margin-top: 0.5em;
    }
    .btn-filter span {
        width: 50%;
    }
    .btn-expand-filters {
        background: none;
        outline: none;
        border: none;
        width: 20%;
        padding: 0;
        margin: 0;
    }
    .btn-expand-filters-open {
        transform: scaleY(-1);
    }
    .btn-filter img {
        filter: drop-shadow(0 2px 1px rgba(255, 255, 255, 0.3));
    }
}