@media (max-width: 768px) {
    body {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    #main-content {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .grafico-h1 h1{
        margin-top: 3em;
        text-align: center;
    }
    .grafico {
        padding-left: 0 !important;
        padding-right: 0 !important;
        width: 100%;
    }
    .grafico>div>img {
        width: 100%;
        margin-bottom: 3vh;
    }
    .lista-habilidades-retornadas {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;

    }
    .aba-hab {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90vw;
        max-height: 100%;
    }
    .habs-head {
        position: relative;
        width: 100%;
        padding: 0.5em;
        border: 1px rgba(0, 0, 0, .2) solid;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        box-shadow:  0 1px 5px #9c9c9c;
    }
    .aulas-dadas {
        color: #9c9c9c;
    }
    .expand-bt {
        position: absolute;
        width: 15px;
        right: 3vw;
    }
    .descricao-habs {
        text-align: center;
        font-size: 10pt;
    }
    .descricao-habs {
        background: linear-gradient(180deg, rgba(233, 233, 233, .8), rgba(200, 200, 200, .8));
        height: 0;
        text-align: center;
        font-size: 10pt;
        visibility: hidden;
        opacity: 0.4;
    }
    .descricao-open {
        display: block;
        height: auto;
        visibility: visible;
        opacity: 1;
    }
    .descricao-open.div-dark {
        color: var(--elevate-dark) !important;
        background-color: var(--light-dark);
    }
    #csvContent {
        display: none;
    }
    .salvar-csv {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 2vh;
        width: 100%;
        height: 8em;
    }
    #main-content {
        margin-top: 0.5em !important;
    }
    .btn-save-csv, .btn-save-grafico {
        height: 2.2em;
    }
    .row > * {
        padding-left: 0;
        padding-right: 0;
    }
    .filters {
        position: fixed;
        width: 100%;
        height: 4em;
        box-shadow: 1px 1px 7px rgba(255, 255, 255, 0.5);
        padding-bottom: 15px;
    }
    .forms-show {
        width: 100vw;
        height: 0;
    }
    .professores-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .professor {
        width: 100%;
        padding: 2px 0 2px 30vw;
    }
    .list-prof-btn {
        width: 90%;
        padding: 2px;
        outline: none;
        border: none;
        background-color: var(--elevate-dark);
        color: var(--light-dark);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        margin-bottom: 5px;
    }
    .professores {
        width: 100%;
        height: 0;
        overflow: hidden;
        z-index: 5;
    }
    .btn-filter {
        /* AJUSTAR DISPLAY NONE DEPOIS */
        display: none;
        flex-direction: column;
        align-items: center;
    }
    .btn-filter span {
        width: 100%;
        text-align: center;
    }
    .btn-expand-filters {
        background: none;
        outline: none;
        border: none;
        width: 100%;
    }
    .btn-filter img {
        filter: drop-shadow(0 2px 1px rgba(255, 255, 255, 0.3));
    }
}

@media (min-width: 768px) {
    .grafico-h1, .grafico {
        display: flex;
        flex-direction: row;
    }
    .grafico-h1 {
        justify-content: center;
        margin-bottom: 2vh;
    }
    .grafico {
        justify-content: space-around;
    }
    .aba-hab {
        width: 30vw;
        max-height: 100%;
    }
    .habs-head {
        position: relative;
        width: 30vw;
        padding: 0.5em;
        border: 1px rgba(0, 0, 0, .2) solid;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        box-shadow:  0 1px 5px #9c9c9c;
    }
    .aulas-dadas {
        color: #9c9c9c;
    }
    .expand-bt {
        position: absolute;
        width: 20px;
        right: 1em;
    }
    .descricao-habs {
        background: linear-gradient(180deg, rgba(233, 233, 233, .8), rgba(200, 200, 200, .8));
        height: 0;
        text-align: center;
        font-size: 10pt;
        visibility: hidden;
        opacity: 0.4;
    }
    .descricao-open {
        display: block;
        height: auto;
        visibility: visible;
        opacity: 1;
    }
    .descricao-open.div-dark {
        color: var(--elevate-dark) !important;
    }
    #csvContent {
        display: none;
    }
    .salvar-csv {
        position: relative;
        margin: 2vh 0 0 1.8vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 50%;
    }
    .btn-save-csv, .btn-save-grafico {
        height: 2.2em;
    }
}