@media (max-width: 768px) {
    h1 {
        text-align: center;
        margin-bottom: 1em;
    }
    table {
        margin-bottom: 1em;
    }
    #main-content {
        padding-bottom: 20vh !important;
    }
    .form-control {
        position: relative;
    }
    .form-control input, .form-control button {
        display: inline-block;
        width: 100%;
    }
    .form-control button{
        position: absolute;
        right: 25px;
        width: 10px;
        background-color: #fff;
        border: none;
        margin: 0;
        padding: 0;
    }
    .form-control.div-dark button {
        background-color: rgba(0, 0, 0, 0);
    }
    .input-checkbox {
        margin: 1em 0 1em 0;
    }
    .bt-edit img{
        width: 2em !important;
        height: auto;
    }
    #habilidade {
        font-size: 1em !important;
    }
    #label-fluxo, #label-adicionais, #fluxo, #adicionais {
        font-size: 1em !important;
        font-weight: 100 !important;
    }
    #descricao {
        font-size: 1em !important;
    }
    .separador {
        width: 100%;
        height: 2em;
        background-color: red;
        margin-bottom: 1em;
    }
    input[type="checkbox" i] {
        width: 1.5em;
        height: 1.5em;
        margin: 0.5em;
    }
    .small-bt {
        border: none;
        box-shadow: 0.2em 0.2em 2em #000;
        border-radius: 0.5em;
        width: 2em;
        margin: 0.5em;
    }
    .check-tr {
        width: 100%;
    }
    .check-tr td {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200%;
    }
}

@media (min-width: 768px) {
    h1 {
        text-align: center;
        margin-bottom: 1em;
    }
    .form-control {
        position: relative;
    }
    .form-control button{
        position: absolute;
        left: 250px;
        background-color: #fff;
        border: none;
        margin: 0;
        padding: 0;
        background-color: rgba(0, 0, 0, 0);
    }
    .btn, .btn-primary {
        width: 10em !important;
        display: flex;
        justify-content: center;
        margin-bottom: 2em;
    }
    .input-checkbox {
        margin: 1em 0 1em 0;
    }
    .input-checkbox input[type=checkbox] {
        display: inline;
        width: 3em;
    }
    thead {
        background-color: #b0b0b0;
    }
    #main-content.div-dark>table>thead>tr {
        /* background-color: var(--elevate-middle-dark) !important; */
        color: black;
    }

    #main-content.div-dark>table>tbody>tr:nth-of-type(odd) {
        background-color: var(--elevate-dark) !important;
        /* color: var(--font-dark) !important; */
        background-color: #000 !important;
    }

    #main-content {
        padding-bottom: 10vh;
    }
    .div-dark>form>table,
    .div-dark>table {
        color: var(--font-dark) !important;
    }
}