asgiref
beautifulsoup4
contourpy
coverage
cycler
Django
django-bootstrap4
fonttools
kiwisolver
matplotlib
numpy
packaging
pandas
pillow
pyparsing
python-dateutil
pytz
six
soupsieve
sqlparse
typing_extensions
tzdata
