@media (max-width:768px) {
    .titulo {
        position: absolute;
        display: block;
        width: 100%;
        margin: -10vh auto;
        text-align: center;
    }
    
    .tela-aux {
        position: fixed;
        display: flex;
        top: 4em;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .cadastro-usuario {
        color: #464444;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 20vh 20vw auto 20vw;
    }
    .cadastro-usuario main {
        width: 35%;
    }
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .formulario {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 0;
    }
    .campo {
        position: relative;
        padding: 1vh 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.2em;
    }
    .campo label {
        font-size: 1.3em;
        font-weight: 600;
    }
    .form-check-input[type=radio] {
        border-color: #464444;
    }
    #label-radio {
        font-size: 1em;
        font-weight: 400;
    }
    .aprovar {
        position: relative;
        background-color: #fff;
        padding: 3em;
        border-radius: 2em;
        box-shadow: 0.5em 0.5em 5em #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 15vh auto auto auto;
        width: 80%;
        text-align: center;
        z-index: 2;
    }
    .aprovar.div-dark {
        background-color: var(--elevate-dark) !important;
    }
    
    .aprovar input {
        border: 0.03em #000 solid;
    }
    .form-message--erro {
        text-align: center;
        line-height: 2em;
        width: 100%;
        height: 2em;
        background-color: rgb(226, 133, 116);
        font-weight: 500;
    }
    #id_password1, #id_password2 {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .show-hide-btn, .show-hide-btn:focus {
        position: absolute;
        background: none;
        width: 20px;
        outline: none;
        border: none;
        right: 5px;
        bottom: 10px;
    }
    .show-hide-btn img {
        background: none;
        width: 20px;
    }
    .popup-validate {
        color: #000000;
        border-radius: 15px;
        background: #F2E3D5;
        text-shadow: none;
        width: 120%;
        height: 0;
        visibility: hidden;
    }
    .popup-validate.div-dark {
        background-color: var(--full-dark);
    }
    .popup-validate p {
        padding-left: 2vw;
    }
    .popup-validate ul {
        padding-left: 1vw !important;
    }
    .popup-validate ul li {
        color: red;
        font-size: 12px;
        margin-bottom: 2px;
        height: 24px;
        list-style: none;
    }
    .btn-disabled {
        background-color: #808080 !important;
        border-color: #808080 !important;
    }
}

@media (min-width:768px) {
    .titulo {
        position: absolute;
        display: block;
        width: 100%;
        margin: -10vh auto;
        text-align: center;
    }
    
    .tela-aux {
        position: fixed;
        display: flex;
        top: 4em;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    /* --------- Start Cadastro-Usuario --------- */
    .cadastro-usuario {
        color: #464444;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 20vh 20vw auto 20vw;
    }
    
    /* ========== start main ========== */
    .cadastro-usuario main {
        width: 35%;
    }
    
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    /* ========== start Fieldset Formulario ========== */
    .formulario {
        padding: 2em;
        z-index: 0;
    }
    
    .campo {
        position: relative;
        padding: 1vh 0;
        display: flex;
        justify-content: space-between;
    }
    
    .aprovar {
        position: relative;
        background-color: #fff;
        padding: 3em;
        border-radius: 2em;
        box-shadow: 0.5em 0.5em 5em #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 20em;
        text-align: center;
        z-index: 2;
    }
    .aprovar.div-dark {
        background-color: var(--elevate-dark) !important;
    }
    
    .aprovar input {
        border: 0.03em #000 solid;
    }
    
    .lab-prof-eventual {
        margin-left: 2.5vw;
    }
    [hidden] {
        display: none;
    }
    .cadastro-usuario--cargo.select-dark>option {
        color: var(--font-dark);
    }
    .cadastro-usuario--cargo.select-dark>option:disabled,
    .cadastro-usuario--cargo.select-dark>option[value=""],
    .cadastro-usuario--cargo.select-dark:invalid
    {
        color: #b2b2b2;
    }
    
    .cadastro-usuario--submit {
        margin: 0 auto;
        background-color: #E8B930;
        width: 60%;
        border: none;
        border-radius: 5px;
        padding: 2% 2vh;
    }
    .form-message--erro {
        text-align: center;
        line-height: 2em;
        width: inherit;
        height: 2em;
        background-color: rgb(226, 133, 116);
        font-weight: 500;
    }
    #id_password1, #id_password2 {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .show-hide-btn, .show-hide-btn:focus {
        position: absolute;
        background: none;
        width: 20px;
        outline: none;
        border: none;
        right: 5px;
        bottom: 10px;
    }
    .show-hide-btn img {
        background: none;
        width: 20px !important;
    }
    .popup-validate {
        color: #000000;
        border-radius: 15px;
        background: #F2E3D5;
        text-shadow: none;
        height: 0;
        visibility: hidden;
    }
    .popup-validate p {
        padding-left: 2vw;
    }
    .popup-validate ul {
        padding-left: 1vw !important;
    }
    .popup-validate ul li {
        color: red;
        font-size: 10px;
        margin-bottom: 2px;
        height: 24px;
        list-style: none;
    }
    .btn-disabled {
        background-color: #808080 !important;
        border-color: #808080 !important;
    }
    /* ========== end Fieldset Formulario ========== */
    /* ========== end main ========== */
}
