{% extends 'base.html' %}
{% load static %}

{% block head-css %}
<link rel="stylesheet" type="text/css" href="{% static './css/analises.css' %}" media="all">
{% endblock %}

{% block content %}
<div class="filters">
    <div class="forms-show">
        <form action="" method="POST">
            <!-- FOR DJANGO TEMPLATE -->
            <div class="professores-form">
                    <span>Professores</span>
                    <button class="list-prof-btn" type="button">Listar</button>
                    <div class="professores closed">
                        {% for professor in professores %}
                        <div class="professor">
                            <input type="checkbox" name="professor-selecionado" id="professor-selecionado-{{ professor.id }}" value="{{ professor.user }}">
                            <label for="professor-selecionado">{{ professor.nome }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </select>
            </div>
        </form>
    </div>
    <div class="btn-filter">
        <span>
            FILTROS
        </span>
        <button type="button" class="btn-expand-filters">
            <img src="{% static 'img/open-bt.png' %}" alt="botão de filtros para análises">
        </button>
    </div>
</div>

<div class="grafico-h1">
    <h1>Quantidade de Habilidades mais aplicadas</h1>
</div>

<!-- ============== GRÁFICOS ================ -->
<div class="grafico">
    <div>
        {% if 'Android' in user_agent or 'Iphone' in user_agent %}
        <img id="imagem-grafico" width="500" src="data:image/png;base64,{{ chart }}" alt="">
        {% else %}
        <img id="imagem-grafico" width="720" height="480" src="data:image/png;base64,{{ chart }}" alt="">
        {% endif %}
    </div>

    <div class="lista-habilidades-retornadas">
        <div class="aba-hab">
            {% for key, hab in habilidade.items %}
                <div class="habs-head">
                    <span>{{ key }}</span>
                    <span><span class="aulas-dadas">Aulas dadas: </span><span>{{ hab.cont }}</span></span>
                    <img class="expand-bt" src="{% static 'img/open-bt.png' %}" />
                </div>
                <div class="descricao-habs">
                    {{ hab.hab }}
                    <hr>
                    {{ hab.desc }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% if csv_file %}
<textarea id="csvContent">{{ csv_file }}</textarea>
<div class="salvar-csv">
    <button class="btn-save-grafico btn btn-primary">Salvar Gráfico</button>
    <button class="btn-save-csv btn btn-primary">Salvar CSV</button>
</div>
{% endif %}
{% endblock %}
{% block scripts %}
<script src="{% static 'js/listarProfessores.js' %}"></script>
<script src="{% static 'js/analise.js' %}"></script>
<script src="{% static 'js/salvarDados.js' %}"></script>
{% endblock %}