{% extends 'base.html' %}
{% load static %}

{% block head-css %}
<link rel="stylesheet" type="text/css" href="{% static './css/analises.css' %}" media="all">
{% endblock %}

{% block content %}
<div class="grafico-h1">
    <h1>Quantidade de Habilidades mais aplicadas</h1>
</div>
<div class="grafico">
    <div>
        {% if 'Android' in user_agent or 'Iphone' in user_agent %}
        <img width="500" src="data:image/png;base64,{{ chart }}" alt="">
        {% else %}
        <img width="720" height="480" src="data:image/png;base64,{{ chart }}" alt="">
        {% endif %}
    </div>

    <div class="lista-habilidades-retornadas">
        <div class="aba-hab">
            {% for key, hab in habilidade.items %}
                <div class="habs-head">
                    {{ key }}
                    <img class="expand-bt" src="{% static 'img/open-bt.png' %}" />
                </div>
                <div class="descricao-habs">
                    {{ hab.hab }}
                    <hr>
                    {{ hab.desc }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% if csv_file %}
<textarea id="csvContent">{{ csv_file }}</textarea>
<div class="salvar-csv">
    <button class="btn-save-csv btn btn-primary">Salvar CSV</button>
</div>
{% endif %}
{% endblock %}
{% block scripts %}
<script src="{% static 'js/analise.js' %}"></script>
<script src="{% static 'js/salvarDados.js' %}"></script>
{% endblock %}