{% extends 'pagina-modelo.html' %}
{% block content %}
    <div class="titulo">
        <h1>Realize seu cadastro!</h1>
        <p>As habilidades de conhecimento serão listadas conforme as disciplinas e turmas que você leciona.</p>
    </div>

    <div class="cadastro-usuario">
            
        <main>
            <form action="" method="get" accept-charset="utf-8">
                <fieldset class="formulario">

                    <div class="campo">
                        <label for="nome" class="label">Usuário</label>
                        <input type="text" id="nome" name="nome" class="cadastro-usuario--nome" placeholder="Digite seu nome" />
                    </div>

                    <div class="campo">
                        <label for="rg" class="label">RG</label>
                        <input type="number" id="rg" name="rg" class="cadastro-usuario--rg" placeholder="Digite o seu RG" />
                    </div>
                    
                    <div class="campo">
                        <label for="cargo" class="label">Cargo</label>
                        <select name="cargo" id="cargo" class="cadastro-usuario--cargo">
                            <option value="selecione">Selecione</option>
                            <option value="professor">Professor</option>
                            <option value="diretor">Diretor</option>
                        </select>
                    </div>
                    
                    <div class="campo">
                        <legend>Professor Eventual</legend>
                        <label for="prof-eventual-sim" class="lab-prof-eventual">Sim</label>
                        <input type="radio" id="sim" name="prof-eventual-sim" class="cadastro-usuario--prof-eventual-sim" value="Sim" />
                        <label for="prof-eventual-nao" class="lab-prof-eventual">Não</label>
                        <input type="radio" id="nao" name="prof-eventual" class="cadastro-usuario--prof-eventual-nao" value="Não" />
                    </div>

                    <div class="campo">
                        <label for="disciplinas">Disciplinas</label>
                        <select name="disciplinas" id="disciplinas" class="cadastro-usuario--disciplinas">
                            <option value="selecione">Selecione</option>
                            <option value="portugues">Português</option>
                            <option value="matematica">Matemática</option>
                            <option value="historia">História</option>
                        </select>
                    </div>

                    <div class="campo">
                        <label for="turmas">Turmas</label>
                        <select name="turmas" id="turmas" class="cadastro-usuario--turmas">
                            <option value="selecione">Selecione</option>
                            <option value="terceiro-ano">3° Ano</option>
                            <option value="segundo-ano">2° Ano</option>
                            <option value="primeiro-ano">1° Ano</option>
                        </select>
                    </div>

                    <div class="campo">
                        <label for="senha" class="label">Senha</label>
                        <input type="password" name="senha" class="cadastro-usuario--rg" placeholder="Digite sua Senha" />
                    </div>

                    <div class="campo">
                        <input type="submit" value="Finalizar Cadastro" id="finalizar-cadastro" class="cadastro-usuario--submit">
                    </div>
                </fieldset>
            </form>
        </main>

        <aside class="ilustracao">
            <picture>
                {% load static %}
                <!-- imagem para mobile
                <source src="#" type="" media="" />
                imagem para desktop -->
                <source src="{% static './img/cadastro-ilustr.png' %}"  type="image/png" media="all" />
                <!-- imagem padrão -->
                <img width="350" src="{% static './img/cadastro-ilustr.png' %}" alt="ilustração" />
            </picture>
        </aside>
    </div>
{% endblock %}