{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row text-center">
    <h1 class="display-8 font-weight-bold">Cadastro das disciplinas aplicadas e o resumo da aula dada</h1>
</div>
<p>Selecione os filtros para facilitar a busca</p><br>
<div class="form-cadastro"><!-- class="row mb-4">-->
    <div> <!--class="col-sm-12 col-md-12 col-lg-6">-->
        <form action="" method="post">
            {% csrf_token %}
            <fieldset class="list-form">
                <div>
                    <label for="turma">Turma</label>
                    <select name="turma" id="turma" class="select-box">
                        <option value="">Selecione</option>
                        <option value="primeiro ano">1° Ano</option>
                        <option value="segundo ano">2° Ano</option>
                        <option value="terceiro ano">3° Ano</option>
                    </select>
                </div>

                <div>
                    <label for="habilidade">Código Habilidade</label>
                    <select name="habilidade" id="habilidade" class="select-box">
                        <option value="">Selecione</option>
                        {% for cod in codigos %}
                        <option value="{{ cod }}">{{ cod }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="box3">
                    <input type="submit" value="Aplicar" class="disciplina--submit">
                </div>

                <div>
                    <label for="disciplina">Disciplina</label>
                    <select name="disciplina" id="disciplina" class="select-box">
                        <option value="">Selecione</option>
                        <option value="portugues">Português</option>
                        <option value="matematica">Matemática</option>
                        <option value="historia">História</option>
                    </select>
                </div>

                <div>
                    <label for="descricao">Descrição Habilidade</label>
                    <input type="text" name="descricao" id="descricao" placeholder="Digite palavras-chave">
                </div>
            </fieldset>
        </form>
    </div>

    <div class="tabela-resultados">

        <p>
            Sua busca retornou <strong>
            {{ cont }}</strong>
            resultados
        </p>

        <table>
            <thead>
                <tr>
                    <th class="cel1">Disciplina</th>
                    <th class="cel2">Código Habilidade</th>
                    <th class="cel3">Descrição Habilidade</th>
                    <th class="cel4">Ação</th>
                </tr>
            </thead>
            <tbody>
                
                {% for ret in retorno %}
                <tr>
                    {% load static %}
                    <td class="cel1">{{ ret.disciplina.title }}</td>
                    <td class="cel2">{{ ret.cod_hab }}</td>
                    <td class="cel3">{{ ret.descricao }}</td>
                    <td class="cel4"><a href="#"><img src="{% static './img/lapis.png' %}" alt=""></a></td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
</div>
{% endblock %}