<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static './css/base.css' %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static './css/header.css' %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static './css/conteudo.css' %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static './css/footer.css' %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static './css/cadastro.css' %}" media="all">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <!-- Cabeçalho da página com opções de menu e login -->
    {% include "login.html" %}

    <!-- Chama o conteúdo principal da tela -->
    {% block content %}
    {% endblock %}

    <!-- Chama o template para o footer -->
    {% include "footer-modelo.html" %}
</body>
</html>