<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static './css/base.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <!-- Cabeçalho da página com opções de menu e login -->
    <header>
        <nav>
            <!-- Opções do menu -->
        </nav>

        <!-- Direciona para o template de login -->
        {% include "login.html" %}
    </header>

    <main>
        <h1>Teste</h1> <!-- Remover -->
        {% block content %}
        {% endblock %}
    </main>

    <!-- Chama o template para o footer -->
    {% include "footer-modelo.html" %}
</body>
</html>