{% extends 'base.html' %}
{% load static %}

{% block head-css %}
<link rel="stylesheet" type="text/css" href="{% static './css/cadastro.css' %}" media="all">
{% endblock %}

{% block content %}

<div class="row text-center">
    <h1 class="display-8 font-weight-bold">Realize seu cadastro!</h1>
    <p>As habilidades de conhecimento serão listadas conforme as disciplinas e turmas que você leciona.</p>
</div>
<div class="row mb-4">
    <div class="card col-sm-12 col-md-12 col-lg-6">
        <form action="{% url 'signup' %}" method="post" accept-charset="utf-8">
            {% csrf_token %}
            
            <fieldset class="formulario">
                {% if message is not None and message.type == 'erro' %}
                <div class="form-message--erro">{{ message.text }}</div>
                {% endif %}

                {% if aprovar %}
                <div class="tela-aux">
                    <!-- Aprovação -->
                    
                    <div class="aprovar" id="aprovar">
                        <form action="{% url 'signup' %}" method="post" accept-charset="utf-8">
                        {% csrf_token %}
                            <input type="hidden" name="aprovar" value="1">
                            <div class="form-group">
                                <label for="super">Superior</label>
                                <input type="text" class="form-control" id="super" name="super" required>
                            </div>
                            <div class="form-group">
                                <label for="pass-super">Senha</label>
                                <input type="password" class="form-control" id="pass-super" name="pass-super" required>
                            </div>
                            <button type="submit" class="btn btn-primary w-100 mt-4">Aprovar</button>
                        </form>
                    </div>
                </div>
                {% endif %}

                <!-- Nome -->

                <div class="campo">
                    {% if aprovar %}
                    <label for="nome" class="label">Usuario</label>
                    <input type="text" name="nome" id="nome" value="{{ nome }}" />
                    {% else %}
                    <label for="{{ form.nome.id_for_label }}" class="label">Usuário</label>
                    <input type="text" id="{{ form.nome.id_for_label }}" name="nome" class="cadastro-usuario--nome"
                        placeholder="Digite seu nome" required />
                    {% endif %}
                </div>

                <!-- Cargo -->
                
                <div class="campo">

                    {% if aprovar %}
                    
                    <label for="{{ form.nivel_usuario.id_for_label }}" class="label">Cargo</label>
                    <select name="{{ form.nivel_usuario.html_name }}" class="cadastro-usuario--cargo" id="{{ form.nivel_usuario.id_for_label }}">
                        <option value="{{ role }}" selected>{{ rolename }}</option>
                    </select>
                    
                    {% else %}
                    
                    <label for="{{ form.nivel_usuario.id_for_label }}" class="label">Cargo</label>
                    <select name="{{ form.nivel_usuario.html_name }}" class="cadastro-usuario--cargo" id="{{ form.nivel_usuario.id_for_label }}" required >
                        <option value="" selected disabled hidden>Selecione</option>
                        {% for value, label in form.nivel_usuario.field.choices %}
                            <option value="{{ value }}">{{ label }}</option>
                        {% endfor %}
                    </select>

                    {% endif %}
                </div>

                <!-- Professor Eventual -->

                <div class="campo">
                    <label for="{{ form.eventual_doc.label.lower }}" class="label">Professor Eventual</label>
                    {% for value, label in form.eventual_doc.field.choices %}
                    <div class="form-check">
                        {% if aprovar and eventual_doc == value %}
                        <input class="form-check-input" type="radio" id="id_agreed_to_terms_{{ forloop.counter }}" name="{{ form.eventual_doc.html_name }}" value="{{ value }}" checked>
                        {% else %}
                        <input class="form-check-input" type="radio" id="id_agreed_to_terms_{{ forloop.counter }}" name="{{ form.eventual_doc.html_name }}" value="{{ value }}" {% if not value %}checked{% endif %}>
                        {% endif %}
                        <label id="label-radio" class="form-check-label" for="id_agreed_to_terms_{{ forloop.counter }}">{{ label }}</label>
                    </div>
                    {% endfor %}
                </div>

                <!-- Materias -->

                <div class="campo">
                    <label for="{{ form.teached_subject.label }}" class="label">Disciplinas</label>
                    <select multiple name="{{ form.teached_subject.html_name }}" id="disciplinas" class="cadastro-usuario--disciplinas" size="3">
                        <option disabled>Selecione</option>
                        {% for x, y in form.teached_subject.field.choices %}
                            {% if aprovar and x in subjects %}
                            <option value="{{ x }}" selected>{{ y }}</option>
                            {% else %}
                            <option value="{{ x }}">{{ y }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <!-- Turmas -->

                <div class="campo">
                    <label for="{{ form.teached_classes.label }}" class="label">Turmas</label>
                    <select multiple name="{{ form.teached_classes.html_name }}" id="turmas" class="cadastro-usuario--turmas" size="3">
                        <option disabled>Selecione</option>
                        {% for x, y in form.teached_classes.field.choices %}
                            {% if aprovar and x in classes %}
                            <option value="{{ x }}" selected>{{ y }}</option>
                            {% else %}
                            <option value="{{ x }}">{{ y }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <!-- SENHA 1 -->

                {% if aprovar %}
                <div class="campo">
                    <label for="{{ form.password1.id_for_label }}" class="label">Senha</label>
                    <input type="password" name="password1" value="{{ password }}" id="id_password1" />
                </div>
                {% else %}
                <div class="campo">
                    <label for="{{ form.password1.id_for_label }}" class="label">Senha</label>
                    <input class="input-type-pass" type="password" name="password1" placeholder="Digite sua Senha" id="id_password1" />
                    <button class="show-hide-btn" type="button">
                        <img src="{% static 'img/hide.png' %}" />
                    </button>
                </div>
                {% endif %}
                <div class="popup-validate">
                    <p>A senha deve conter: </p>
                    <ul>
                        <li>❌ Pelo menos 1 letra maiúscula.</li>
                        <li>❌ Pelo menos 1 número.</li>
                        <li>❌ Pelo menos 1 caractere especial.</li>
                        <li>❌ Entre 10 a 16 caracteres.</li>
                    </ul>
                </div>

                <!-- SENHA 2 -->

                {% if aprovar %}
                <div class="campo">
                    <label for="{{ form.password2.id_for_label }}" class="label">Confirme a senha</label>
                    <input type="password" name="password2" value="{{ password }}" id="id_password2" />
                </div>
                {% else %}
                <div class="campo">
                    <label for="{{ form.password2.id_for_label }}" class="label">Confirme a senha</label>
                    <input class="input-type-pass" type="password" name="password2" placeholder="Confirme a senha" id="id_password2" />
                    <button class="show-hide-btn" type="button">
                        <img src="{% static './img/hide.png' %}" />
                    </button>
                </div>
                {% endif %}

                <div class="campo pt-4">
                    <button type="submit" class="btn btn-primary w-100" id="finalizar-cadastro" disabled>
                        Finalizar Cadastro
                    </button>
                </div>
            </fieldset>
        </form>
    </div>


    <div class="col-sm-12 col-md-12 col-lg-6">
        <img class="img-fluid rounded" src="{% static './img/cadastro-ilustr.png' %}" alt="ilustração">
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static './js/checkPass.js' %}"></script>
<script src="{% static './js/buttonShowHide.js' %}"></script>
{% endblock %}